
		<div class="main-header">
			<!-- Logo Header -->
			<div class="logo-header" data-background-color="dark2">
				
				<a href="/" class="logo">
					<img src="/static/assets/img/logo.svg" alt="navbar brand" class="navbar-brand" style="width: 60px; height: 60px">
				</a>
				<button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="fas fa-barcode"></i>
					</span>
				</button>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="dark">
				
					<div class="container-fluid">
						<div class="collapse" id="search-nav">
							
						</div>
						<ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
							<li class="nav-item toggle-nav-search hidden-caret">
								<a class="nav-link" data-toggle="collapse" href="#search-nav" role="button" aria-expanded="false" aria-controls="search-nav">
									<i class="fa fa-search"></i>
								</a>
							</li>
							
							
						</ul>
					</div>
					<div class="container-fluid">
						
					</div>
				
			</nav>
			<!-- End Navbar -->

		</div>
