{% extends 'layouts/base.html' %}
{% block title %} Posts detail {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}
<div class="page-inner mt--5">
    <div class="row mt--2">
        <div class="col-md-12">
            <div class="card full-height">
                <div class="card-body">
                    <div class="card-title">
						<h1>{{ post.title }}</h1>
					</div>
			        <div class="card-img">
						<img src="{{ post.image.url }}" height="30%">
					</div>
			        <div class="card-post" style="text-align:left; font-size: 1.5rem;margin:20px auto;">
						{{ post.text }}
		            </div>
    	        </div>
	        </div>
        </div>
	</div>
</div>
{% endblock content %}